@tailwind base;
@tailwind components;
@tailwind utilities;

/*CSS Goes here*/

.text-blue-stroke-white-4px {
  color: #5e6a80;
  text-shadow: -4px -4px 0 #fff, 0 -4px 0 #fff, 4px -4px 0 #fff, 4px 0 0 #fff,
    4px 4px 0 #fff, 0 4px 0 #fff, -4px 4px 0 #fff, -4px 0 0 #fff,
    0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-blue-stroke-white-2px {
  color: #5e6a80;
  text-shadow: -2px -2px 0 #fff, 0 -2px 0 #fff, 2px -2px 0 #fff, 2px 0 0 #fff,
    2px 2px 0 #fff, 0 2px 0 #fff, -2px 2px 0 #fff, -2px 0 0 #fff,
    0px 2px 2px rgba(0, 0, 0, 0.25);
}

.text-red-stroke-black-2px {
  color: #ff6961;
  text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
    2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000,
    0px 2px 2px rgba(0, 0, 0, 0.25);
}

.text-green-stroke-white-3px {
  color: #a5ce89;
  text-shadow: -3px -3px 0 #fff, 0 -3px 0 #fff, 3px -3px 0 #fff, 3px 0 0 #fff,
    3px 3px 0 #fff, 0 3px 0 #fff, -3px 3px 0 #fff, -3px 0 0 #fff,
    0px 3px 3px rgba(0, 0, 0, 0.25);
}

.text-white-stroke-black-3px {
  color: #fff;
  text-shadow: -3px -3px 0 #000, 0 -3px 0 #000, 3px -3px 0 #000, 3px 0 0 #000,
    3px 3px 0 #000, 0 3px 0 #000, -3px 3px 0 #000, -3px 0 0 #000,
    0px 3px 3px rgba(0, 0, 0, 0.25);
}

.text-yellow-stroke-black-2px {
  color: #ffd700;
  text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
    2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000,
    0px 2px 2px rgba(0, 0, 0, 0.25);
}

.App-header {
  font-size: 1rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding-bottom: 2rem;
  max-width: 1440px;
  width: 100%;
}
.carousel {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  max-width: 1440px;
  width: 100%;
}

.carousel * {
  vertical-align: bottom;
}

.carousel-images {
  position: relative;
  border-radius: 10px;
  aspect-ratio: 16/9;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.carousel-images img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: white solid 2px;
}
.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  background-color: #fb666675;
  color: #fff;
  padding: 10px 8px 8px 13px;
  margin: 0 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  height: 25px;
  width: 25px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dot {
  background-color: white;
  width: 40px;
  height: 10px;
}
.active {
  background-color: yellow;
}
