@tailwind base;
@tailwind components;
@tailwind utilities;

/*CSS Goes here*/

.text-blue-stroke-white-4px {
  color: #5e6a80;
  text-shadow: -4px -4px 0 #fff, 0 -4px 0 #fff, 4px -4px 0 #fff, 4px 0 0 #fff,
    4px 4px 0 #fff, 0 4px 0 #fff, -4px 4px 0 #fff, -4px 0 0 #fff,
    0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-blue-stroke-white-2px {
  color: #5e6a80;
  text-shadow: -2px -2px 0 #fff, 0 -2px 0 #fff, 2px -2px 0 #fff, 2px 0 0 #fff,
    2px 2px 0 #fff, 0 2px 0 #fff, -2px 2px 0 #fff, -2px 0 0 #fff,
    0px 2px 2px rgba(0, 0, 0, 0.25);
}

.text-red-stroke-black-2px {
  color: #ff6961;
  text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
    2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000,
    0px 2px 2px rgba(0, 0, 0, 0.25);
}

.text-green-stroke-white-3px {
  color: #a5ce89;
  text-shadow: -3px -3px 0 #fff, 0 -3px 0 #fff, 3px -3px 0 #fff, 3px 0 0 #fff,
    3px 3px 0 #fff, 0 3px 0 #fff, -3px 3px 0 #fff, -3px 0 0 #fff,
    0px 3px 3px rgba(0, 0, 0, 0.25);
}

.text-white-stroke-black-3px {
  color: #fff;
  text-shadow: -3px -3px 0 #000, 0 -3px 0 #000, 3px -3px 0 #000, 3px 0 0 #000,
    3px 3px 0 #000, 0 3px 0 #000, -3px 3px 0 #000, -3px 0 0 #000,
    0px 3px 3px rgba(0, 0, 0, 0.25);
}

.text-yellow-stroke-black-2px {
  color: #ffd700;
  text-shadow: -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000, 2px 0 0 #000,
    2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000,
    0px 2px 2px rgba(0, 0, 0, 0.25);
}
